:root {
  --main-color: #3883C7; 
  --secondary-color: #609BD2; 
  --tertairy-color: #1330EC; 
}

/* html { */
/*  cursor: url('../images/clubbell.svg'), auto; */
/* } */

body {
 margin: 0;
 background: url("../images/background.png");
}

.main-title {
  width: 100%;
  text-align: center;
  color: var(--main-color);
  background: white;
  padding: 10px 0px;
  margin: 20px 0;
}

.main-links {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: var(--main-color);
  overflow: auto;
  height: 32px;
  line-height: 32px;
  overflow: hidden;
}

.main-link {
  padding: 15px;
  border-left: 1px solid black;
  border-right: 1px solid black;
  color: white;
  text-decoration: none;
}

.main-link:hover {
  background-color: var(--secondary-color);
}

.main-link__active {
  background-color: var(--tertairy-color);
}

.home-text {
  margin: 20px;
}

.home-container {
  width: 50%;
  margin: auto;
  border: 1px var(--main-color) solid;
  margin-bottom: 15px;
  background: white;
}

.home-header {
  padding: 10px;
  margin: 0;
  background-color: var(--main-color);
  color: #fff;
  text-align: left;
}

button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}


.updates-title {
  text-align: left;
  padding: 0 15px;
  margin: 0;
  margin-top: 15px;
  font-size: 18px;
}

.updates-text {
  padding: 0 15px;
  margin: 5px 0 15px 0;
  text-align: left;
}

.no-bottom {
  bottom: auto;
}
